<!DOCTYPE html>
<html>
<head>
    <title>Table Entries</title>
</head>
<body>
    <h1>Student Table Entries</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Student ID</th>
                <th>University</th>
                <th>Course</th>
                <th>Username</th>
				<th>Password</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
				<td>{{ row[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
